<h2><%= post.title %></h2>

<p><%= post.content %></p>

<p>Tags:</p>
<ul>

   <% post.tags.forEach(function(tag) { %>
        <li> <%= tag.name %></li>
<% }) %>
</ul>
<form method="POST" action='/tags'>
    <input type="text" name="name" placeholder="Add a tag to this collection"><br />
    <input type="hidden" name ="postId" value="<%= post.id %>">

    <input type="submit" value="Tag it!">

</form>

//----add form---//
<form method="POST" action="/posts/<%=post.id%>/comments">
    <input type="text" name="name" placeholder ="Name:"><br />
    <input type="text" name="content" placeholder="Type comment"> <br />

    <input type="submit" value="Comment now">
    </form>
<hr />

<% post.comments.forEach(function(comment) {%>
<p><%= comment.content%> </p>
<%})%>